/* 
  repeat(count, track_size)
  
  *count: Numero entero de repeticiones, auto-fill o auto-fit
  *track_size: unidades de longitud (px, em, rem,...), fracciones (fr) o porcentajes (%)
*/
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr 2fr) 100px;

  background-color: gray;
  padding: 10px;
}

.item {
  background-color: red;
  border: 1px solid black;
  padding: 10px;
}

.wraper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;

  background-color: gray;
  padding: 10px;  
}

.wrapert {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;

  background-color: gray;
  padding: 10px;  
}