* {
  box-sizing: border-box;
}

.header {
  background-color: lightblue;
  padding: 30px;
  text-align: center;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;

  background-color: gray;
  border: 1px solid red;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

.footer {
  background-color: lightblue;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}