* {
  box-sizing: border-box;
}
body {
  background-color: gray;
  font-size: 17px;
}

.flex-container {
  border: 1px solid black;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  width: 100%;
  float: left;
  padding: 10px;
  border: 1px solid red;
}

img {
  display: none;
}

@media (orientation: landscape) {
  body {
    background-color: yellow;
  }
}