/* 
  SINTAXIS BASICA MEDIA QUERIES 
  @media not|only media-type and (media-feature) {
    las reglas de css 
  }

  Media type: screen, print, speech
  Media feature: max-width, min-width, max-height, orientation ...

  operadores logicos: and, "," (or), not, only
*/
/* MOBILE FIRST */
* {
  box-sizing: border-box;
}
body {
  background-color: gray;
  font-size: 17px;
}

.flex-container {
  border: 1px solid black;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  width: 100%;
  float: left;
  padding: 10px;
  border: 1px solid red;
}

img {
  display: none;
}

@media (orientation: landscape) {
  body {
    background-color: yellow;
  }
}
/* DISPOSITIVOS MEDIANOS */
/*  
  NUEVA SINTAXIS
  @media (min-width: 300px) {} Antigua
  @media (width > 300px) {} NUeva (sintaxis de rango)

  @media screen and (min-width: 601px) and (max-width: 768px) {} Antigua
  @media screen and (600px  < width < 768px) {} Nueva (sintaxis de rango)
*/
@media screen and (min-width: 601px) and (max-width: 768px) {
  body {
    font-size: 28px;
  }

  .flex-container {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 28px;
  }
  .flex-container {
    display: flex;
    flex-direction: row-reverse;
  }
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}

/* DISPOSITIVOS GRANDES */
@media screen and (min-width: 1025px) and (max-width: 1200px) {
  body {
    font-size: 35px;
  }
  img {
    display: inline;
  }
  .flex-container {
    display: flex;
    flex-direction: row-reverse;
  }
  .col-l-1 {
    width: 8.33%;
  }
  .col-l-2 {
    width: 16.66%;
  }
  .col-l-3 {
    width: 25%;
  }
  .col-l-4 {
    width: 33.33%;
  }
  .col-l-5 {
    width: 41.66%;
  }
  .col-l-6 {
    width: 50%;
  }
  .col-l-7 {
    width: 58.33%;
  }
  .col-l-8 {
    width: 66.66%;
  }
  .col-l-9 {
    width: 75%;
  }
  .col-l-10 {
    width: 83.33%;
  }
  .col-l-11 {
    width: 91.66%;
  }
  .col-l-12 {
    width: 100%;
  }
}

@media screen and (min-width: 1201px)  {
  body {
    font-size: 35px;
  }
  img {
    display: block;
  }
  .flex-container {
    display: flex;
    flex-direction: row-reverse;
  }
  .col-l-1 {
    width: 8.33%;
  }
  .col-l-2 {
    width: 16.66%;
  }
  .col-l-3 {
    width: 25%;
  }
  .col-l-4 {
    width: 33.33%;
  }
  .col-l-5 {
    width: 41.66%;
  }
  .col-l-6 {
    width: 50%;
  }
  .col-l-7 {
    width: 58.33%;
  }
  .col-l-8 {
    width: 66.66%;
  }
  .col-l-9 {
    width: 75%;
  }
  .col-l-10 {
    width: 83.33%;
  }
  .col-l-11 {
    width: 91.66%;
  }
  .col-l-12 {
    width: 100%;
  }
}