body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.header, .footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
} 

.main-content {
  flex: 1;
}

.content {
  /* text-align: center; */
  padding: 50px;
  border: 1px solid black;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  /* height: 100%; */
}